{% extends "base.html" %}

{% block includes %}
<link rel="stylesheet" href="{{ STATIC }}geonres/css/user_home.css">
<link rel="stylesheet" href="{{ STATIC }}users/css/registration.css">
<script src="{{ STATIC }}geonres/js/home.js"></script>
{% endblock %}

{% block content %}
<h1>Profile Details</h1>
{% if error %}
<p><span class="login-error">{{ error }}</span></p>
{% endif %}
<div id="registration-status"></div>
<form class="registration-form" enctype='multipart/form-data' action="save_profile" method="POST" >
	<p>Name: <input class="input" type="text" name="name"/></input></p>
	<p class='interest'>About me: <textarea name = "aboutme" class='input2'></textarea></p>
	<p class='interest'>Interest:<textarea name = "interest" class='input2'></textarea></p>
	<p>Profile Pic: <input type="file" class="input1" name="photo"/></input></p>
	<p><input type="submit" class="button" name="submit" /></p>
</form>
{% endblock %}

