.registration-form {
	padding-left: 30px;
}

.registration-form > p {
	position: relative;
	margin-bottom: 10px;
	height: 25px;
	width: 300px;
}

.input {
	position: absolute;
	left: 150px;
	bottom: 8px;
	border: 1px solid #aaa;
	padding: 5px;
	font-size: 12pt;
	color: #555;
}

.button {
	display: block;
	background-image: -webkit-linear-gradient(top, #FF9900, #FF6600);
	background-image: -moz-linear-gradient(top, #FF9900, #FF6600);
	background-image: -o-linear-gradient(top, #FF9900, #FF6600);
	background-image: -ms-linear-gradient(top, #FF9900, #FF6600);
	border-radius: 3px;
	vertical-align: middle;
	padding: 10px 15px 10px 15px;
	text-align: center;	
	color: #444;
	width: 100px;
	border: 1px solid #999;
	box-shadow: none;
	font-size: 14px;
	margin: auto;
}

.button:hover {
	background-image: -webkit-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -moz-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -o-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -ms-linear-gradient(top, #FFAD33, #FF8533);
	background-color: #CC9900;
}
