html, body {
	min-height: 100%;
	height: 100%;
	
}

#container {
	margin: 0;
	width: 100%;
	height: 100%;
}

#container > div {
	padding: 0 220px 0 220px;
}
#branding {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;

}

#homepage-actions {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
}

#homepage-actions .items {
	position: absolute;
	top: 30%;
}

#homepage-actions .items div {
	margin-bottom: 25px;
}

#homepage-actions .items div p {
	color: #ccc;
	font-size: 18px;
}

.homepage-button, a.homepage-button {
	display: block;
	background-image: -webkit-linear-gradient(top, #FF9900, #FF6600);
	background-image: -moz-linear-gradient(top, #FF9900, #FF6600);
	background-image: -o-linear-gradient(top, #FF9900, #FF6600);
	background-image: -ms-linear-gradient(top, #FF9900, #FF6600);
	border-radius: 3px;
	box-shadow: 0 2px 4px #222;
	border: 1px solid #222;
	vertical-align: middle;
	padding: 13px 0 13px 0;
	width: 250px;
	text-align: center;	
	margin-bottom: 5px;
	font-size: 20px;
	color: #444;
}

.homepage-button:hover {
	background-image: -webkit-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -moz-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -o-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -ms-linear-gradient(top, #FFAD33, #FF8533);
	background-color: #CC9900;
}

#main {
	padding-left: 0px;
	padding-right: 0 !important;
	height: 70%;
	background-color: rgba(20%, 20%, 20%, 0.7);
}

#logo {
	margin: 0 0 0 0;
	position: absolute;
	top: 40%;
	right: 30%;
}

.logo {
	font-size: 72pt;
}

div.dialogue {
	display: none;
	position: absolute;
	z-index: 100;
}

div.dialogue1 {
	display: none;
	position: absolute;
	z-index: 102;
}
#overlay {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
}

#login-box {
	height: 220px;
	top: 30%;
	left: 35%;
	padding: 10px 40px 20px 40px;
	background-color: white;
	border-radius: 2px;
	z-index: 101;
}


#login-box  input {
	border: 1px solid #888;
	padding: 5px 5px 5px 5px;
	color: #444;
	font-size: 14px;
}

#register-box {
	height: 320px;
	width: 330px;
	top: 30%;
	left: 35%;
	padding: 10px 40px 20px 40px;
	background-color: white;
	border-radius: 2px;
	z-index: 103;
	font-size: 14px;
}


#register-box p {
	font-size: 12.5px;
	width: 350px;
	height: 30px;
}
#register-box .input {
	
	border: 1px solid #888;
	padding: 5px 5px 5px 5px;
	color: #444;
	font-size: 14px;
	width:180px;
	position: absolute;
	right: 10%;
}

.buttons, input.buttons a.buttons {
	display: block;
	background-image: -webkit-linear-gradient(top, #FF9900, #FF6600);
	background-image: -moz-linear-gradient(top, #FF9900, #FF6600);
	background-image: -o-linear-gradient(top, #FF9900, #FF6600);
	background-image: -ms-linear-gradient(top, #FF9900, #FF6600);
	border-radius: 3px;
	box-shadow: 0 2px 4px #222;
	border: 1px solid #222;
	vertical-align: middle;
	padding: 13px 0 13px 0;
	width: 200px;
	text-align: center;	
	margin-bottom: 5px;
	font-size: 14px;
	color: #444;
	position: relative;
	margin-left: 60px;
	margin-top: 10px;
}

.buttons:hover {
	background-image: -webkit-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -moz-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -o-linear-gradient(top, #FFAD33, #FF8533);
	background-image: -ms-linear-gradient(top, #FFAD33, #FF8533);
	background-color: #CC9900;
}


#login-box .input {
	border: 1px solid #888;
	padding: 5px 5px 5px 5px;
	color: #444;
	font-size: 14px;
	width: 220px;
}

#login-box p {
	font-size: 13px;

}


#login-box #btn-login {
	width: 100px;
	border: 1px solid #999;
	box-shadow: none;
	font-size: 14px;
	margin: auto;
}

#login-box .spinner {
	display: none;
	margin: auto;
	height: 24px;
}

#image-background {
	position: absolute;
	z-index: -4;
	overflow: hidden;
	height: 70%;
	width: 100%;
	-webkit-filter: blur(3px);
}

.login-error {
	border: 1px solid #F66;
	background-color: rgba(100%, 20%, 20%, 0.1);
	padding: 5px;
	display: block;
	text-align: center;
}