header {
	margin-bottom: 0;
	padding-right: 15%;
}

#main {
	margin-top: 40px;

}

.tab-options {
	margin-top: 30px;
	padding: 1px 0px 0px 20px;
	width: 100%;
	background-color: #FFFFFE;
	background: url('/static/geonres/img/bg-menu.png');
	height:52px;
	
}

.tab-options ul {
	margin-left: 0;
	padding: 0;
}

.tab-options li {
	display: inline;
}

a.tab-link {
	padding: 15px 30px 15px 25px;
	color: #2E2E2F;
	color: #464653;
	font-size: 20px;
	height: 80px;
	font-family: 'Anton', sans-serif;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: uppercase;
	
	line-height: 26px;
}

#list-container {
	border-bottom: 1px;
	padding-bottom: 10px;
	margin-top: 30px;
}

#list-container11{
	border-bottom: 1px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-left: 220px;

}

#list-container1 {
	margin-left: 220px;
	border-bottom: 1px;
	padding-bottom: 0px;
	margin-top: 30px;	
}

.lists {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 22px;
	
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}


.lists_discussions {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 28px;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}


#topic-list {
	display: inline;
	position: relative;
	
	float:right;

}
#topic-list1 {
	display: block;
	position: relative;
	
}

#topic-width {
	display: inline;
}

.lists_discussions1 {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 28px;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}

.lists_discussions111 {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 28px;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}

a.lists_discussions111:hover {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 28px;
	font-family: 'Anton', sans-serif;
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}

.comment-box {
	width:50%;
	height: 80px;
	position: relative;
	left : 25%;

}
a.lists_discussions111:visited {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 28px;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}


.lists1 {
	
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 20px;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}

#header-friend {
	float: left;

	padding-top: 20px;
	margin-bottom: 50px;
}

a:visited.lists1 {
	color: #0909C4;
}


a:hover.lists1  {
	color: #FE57A1;
}


a:visited.lists {
	color: #0909C4;
}


a:hover.lists  {
	color: #FE57A1;
}

.lists-add {
	
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 16px;
	text-transform: capitalize;
	
	line-height: 10px;

}

a:visited.friend-head  {
	color: #0909C4;
}

a:hover.friend-head  {
	color: #FE57A1;
}


.friend-head{
	padding: 0px 30px 0px 25px;
	color: #0909C4;
	font-size: 18px;

	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;	
}

a.tab-link:hover {
	color: #7F9EBD;
	color: #E61275;
}

.tab-container {
	margin-top: 20px;
	padding: 10px;
	width:100%;
	padding-bottom: 30px;

}

.playlist-container {
	margin-top: 20px;
	padding: 10px;
	width:100%;
	padding-bottom: 30px;
	padding-bottom: 10px;
	

}

.lookup {
	border: 1px solid black;
	border-radius: 3px;
	padding: 6px;
	font-size: 14pt;
	color: #666;
	width: 100%;
	margin-bottom: 10px;
}

input.lookup.inactive {
	color: #aaa;
}

a.tab-link.pressed {
	color: red;
	color: #E61275;

}

#country-select-container {
	position: relative;
	width: 55%;
	float: left;
}

#country-suggestions {
	position: absolute;
	display: none;
	top: 36px;
	background-color: white;
	width: 100%;
	padding: 5px;
	box-shadow: 0px 1px 1px #aaa;
}

#country-suggestions a {
	display: block;
}

.select-container {
	text-align: center;
	margin-bottom: 20px;
}

.select-container > input {
	width: 95%;
	border-radius: 10px;
	border: 1px solid #aaa;
}

#artist-select-container {
	width: 40%;
	height: 440px;
	float: right;
}

#track-select-container {
	margin-top: 20px;
	width: 55%;
	float: left;
}

#artist-bio-container {
	width: 35% !important;
	margin-top: 20px;
	float: right;
	margin-left: 20px;
}

.artist-bio-image.vid-thumb {
	height: 160px;
	width: 140px;
	float: left;
}

#artist-bio p {
	line-height: 1.5em;
	font-size: 14px;
	color: #222;
}

#user-panel {
	font-size: 14px;
	margin-top: 20px;
}

#user-panel a {
	color: #7F9EBD;
}
#user-panel a:hover {
	text-decoration: underline;
}

#header-friend {
	border-right: 1px solid #aaa;
	margin-right: 20px;
}

#header-friend > ul {
	list-style: none;
}

#header-friend ul li {
	list-style: none;
	margin-bottom: 15px;
}

.profile-image {
	height: 128px;
	width: 128px;
	float: left;
	border: 2px solid white;
	box-shadow: 0px 0px 3px #888;
	margin-right: 10px;
}

.profile-details {
	float: left;
}

.profile-details div, p{
	margin-bottom: 5px;
}

.profile-container h2 {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.profile-details .profile-name {
	font-size: 21px;
}

.profile-container .list {
	margin-left: 10px;
}

.profile-container .profile-button {
	float: right;
	margin: 20px 150px 0 0;
}

.profile-container #btn-add-friend1 {
	float: right;
	margin: 20px 150px 0 0;
}


.profile-container .legend {
	color: #888;
	font-size: 13px;
}

.profile {
	float: left;
	width: 60%;
	font-size: 16px;
	color: #444;
}

.clearfix {
	clear: both;
}

.input {
	font-size: 14px;
	padding: 5px;
}

.profile-details > div > p {
	display: inline;
}

a {
	cursor: pointer;
}

.list-container.expanded {
	background: white;
	padding: 10px;
	border: 1px solid #CCC;
}