header {
	margin-bottom: 0;
	padding-right: 15%;
}

#main {
	margin-top: 40px;

}



.tab-options {
	margin-top: 30px;
	padding: 1px 0px 0px 20px;
	width: 100%;
	background-color: #FFFFFE;
	background: url('/static/geonres/img/bg-menu.png');
	height:52px;
	
}

.tab-options ul {
	margin-left: 0;
	padding: 0;
}

.tab-options li {
	display: inline;
}

a.tab-link {
	padding: 15px 30px 15px 25px;
	color: #2E2E2F;
	color: #464653;
	font-size: 20px;
	height: 80px;
	font-family: 'Anton', sans-serif;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: uppercase;
	
	line-height: 26px;
}

#list-container {
	border-bottom: 1px;
	border-bottom-style: dotted;
	padding-bottom: 0px;
	
}
.lists {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 28px;
	
	font-family: 'Anton', sans-serif;
	font-family: 'spirax',cursive;
	background: url('/static/geonres/img/star.png');
	background-repeat: no-repeat;
	background-position: 5px;
	text-transform: capitalize;
	
	line-height: 10px;

}


.lists-add {
	
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	padding: 0px 30px 0px 25px;
	color: #2E2E2F;
	color: #464653;
	color: #0909C4;
	font-size: 16px;
	
	font-family: 'Anton', sans-serif;
	font-family: 'spirax',cursive;
	text-transform: capitalize;
	
	line-height: 10px;

}


a.tab-link:hover {
	color: #7F9EBD;
	color: #E61275;
}

.tab-container {
	margin-top: 20px;
	background: white;
	background: #E6E6E6;
	padding: 10px;
	width:100%;
	padding-bottom: 30px;

}


.playlist-container {
	margin-top: 20px;
	background: white;
	background: #E6E6E6;
	padding: 10px;
	width:100%;
	padding-bottom: 30px;
	padding-bottom: 10px;
	

}


.lookup {
	border: 1px solid black;
	border-radius: 3px;
	padding: 6px;
	font-size: 14pt;
	color: #666;
	width: 100%;
	margin-bottom: 10px;
}

input.lookup.inactive {
	color: #aaa;
}

a.tab-link.pressed {
	color: red;
	color: #E61275;

}

#country-select-container {
	position: relative;
	width: 55%;
	float: left;
}

#country-suggestions {
	position: absolute;
	display: none;
	top: 36px;
	background-color: white;
	width: 100%;
	padding: 5px;
	box-shadow: 0px 1px 1px #aaa;
}

#country-suggestions a {
	display: block;
}

.select-container {
	text-align: center;
	margin-bottom: 20px;
}

.select-container > input {
	width: 95%;
	border-radius: 10px;
	border: 1px solid #aaa;
}

#artist-select-container {
	width: 40%;
	height: 440px;
	float: right;
}

#track-select-container {
	margin-top: 20px;
	width: 55%;
	float: left;
}

#artist-bio-container {
	width: 35% !important;
	margin-top: 20px;
	float: right;
	margin-left: 20px;
}

.artist-bio-image.vid-thumb {
	height: 160px;
	width: 140px;
	float: left;
}

#artist-bio p {
	line-height: 1.5em;
	font-size: 14px;
	color: #222;
}

#user-panel {
	font-size: 14px;
	margin-top: 20px;
}

#user-panel a {
	color: #7F9EBD;
}
#user-panel a:hover {
	text-decoration: underline;
}