<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Geonres - Geographical Approach to Music Discovery</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC }}geonres/buttons/styles.css">
  <!-- CSS concatenated and minified via ant build script-->
	<link rel="stylesheet" href="{{ STATIC }}geonres/css/style.css">
  <link rel="stylesheet" href="{{ STATIC }}geonres/css/main.css">

  <!-- end CSS-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC }}geonres/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&language=en"></script>
  <script src="http://www.google.com/jsapi"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <!-- scripts concatenated and minified via ant build script-->
  
  <script defer src="{{ STATIC }}geonres/js/plugins.js"></script>
  <script src="{{ STATIC }}geonres/js/home.js"></script>
  <!-- end scripts-->

  {% block includes %}
  {% endblock %}

  <script src="{{ STATIC }}geonres/js/libs/modernizr-2.0.6.min.js"></script>

  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UA-24206813-2'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</head>

<body>
  <div id="loading" class="dialogue">
    <img src="{{ STATIC }}geonres/img/spinner.gif">
  </div>
	<input type="hidden" value="{{ STATIC }}geonres/" id="static-url"/>
    <header>
      <a href="/">
        <div id="logo"><span class="logo normal">Ge</span><span class="logo" id="o">o</span><span class="logo normal">nres</span></div>
      </a>
      {% if user %}
      <div id="user-panel">
        Logged in as <strong>{{ user.username }}</strong>
        <p><a href="/users/logout" id='logout'>Logout</a></p>
      </div>
      {% else %}
        <input type="hidden" value="{{ STATIC }}" id="static-url"/>
        <div id="overlay" class="dialogue"></div>
          <div id="login-box" class="dialogue">
            <p><img class="spinner" id="login-spinner" src="{{ STATIC }}geonres/img/spinner.gif"/></p>
            <div id="login-status"></div>
            <p>Don't have an account? <a href="#" id="signup">Signup now</a></p>
            <p><input placeholder="Username" class="input" type="text" size="30" name="username" id="login-email"/></p>
            <p><input placeholder="Password" class="input" type="password" size="30" name="password" id="login-passwd"/></p>
            <p><a id="btn-login" href="#" class="homepage-button">Login</a></p>
          </div>
        <div id="register-box" class="dialogue1">
          <h2>Register Here</h2>
          <div id="registration-status"></div>
          <form class="registration-form" action="users/register" method="POST" name="registers">
            <p><input placeholder="Username" class="input" type="text" name="username" ></p>
            <p><input placeholder="Password(min 8 characters)" class="input" type="password" name="passwords"></p>
            <p><input placeholder="Retype Password" class="input" type="password" name="cpassword"></p>
            <p><input placeholder="Email Address" type="text" class="input" name="email" ></p>
            <p><input id="newbu" value="Register" type= "submit" class="buttons" name="submit" onclick="return check();" ></input></p>
          </form>
        </div>
        {% if imp %}
        {% else %}
        <div id="user-panel">
          <a href="#" id="btn-homepage-login" class="homepage-button" style="z-index:90;">Login/Register</a>

        </div>
        {% endif %}
      {% endif %}
    </header>
    <div id="container">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
    </footer>
  </div> <!--! end of #container -->
</body>
</html>
