<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Geonres - Geographical Approach to Music Discovery</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ STATIC }}geonres/css/reset.css">
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC }}geonres/buttons/styles.css">
  <!-- CSS concatenated and minified via ant build script-->
	<link rel="stylesheet" href="{{ STATIC }}geonres/css/style.css">
  <link rel="stylesheet" href="{{ STATIC }}geonres/css/homepage.css">
  <!-- end CSS-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC }}geonres/js/libs/jquery-1.8.2.min.js"><\/script>')</script>
  <script src="http://www.google.com/jsapi"></script> 
  <!-- scripts concatenated and minified via ant build script-->
  
  <script defer src="{{ STATIC }}geonres/js/plugins.js"></script>
  <script src="{{ STATIC }}geonres/js/home.js"></script>

  <!-- end scripts-->

	<script src="{{ STATIC }}geonres/js/libs/modernizr-2.0.6.min.js"></script>

</head>

<body>
	<input type="hidden" value="{{ STATIC }}" id="static-url"/>
  <div id="overlay" class="dialogue"></div>
  <div id="login-box" class="dialogue">
    <p><img class="spinner" id="login-spinner" src="{{ STATIC }}geonres/img/spinner.gif"/></p>
    <div id="login-status"></div>
    <p>Don't have an account? <a href="#" id="signup">Signup now</a></p>
    <p>Username<br><input class="input" type="text" size="30" name="username" id="login-email"/></p>
    <p>Password<br><input class="input" type="password" size="30" name="password" id="login-passwd"/></p>
    <p><a id="btn-login" href="#" class="homepage-button">Login</a></p>
  </div>

<div id="register-box" class="dialogue1">
<h1>Register Here</h1>
<div id="registration-status"></div>
<form class="registration-form" action="users/register" method="POST" name="registers">
  <p><span>Username:</span> <input class="input" type="text" name="username" ></p>
  <p><span>Password:</span> <input class="input" type="password" name="passwords"></p>
  <p><span>Confirm Password:</span> <input class="input" type="password" name="cpassword"></p>
  <p><span>Email id:</span> <input type="text" class="input" name="email" ></p>
  <p><a id="newbu" type= "submit" class="buttons" name="submit" onclick="return check();" >Register</a></p>
</form></div>

  <div id="container">
    <img id="image-background" src="{{ STATIC }}geonres/img/collage.png"/>
    <div id="main" class="dark" role="main">
      <div id="branding">
        <div id="logo"><span class="logo normal">Ge</span><span class="logo" id="o">o</span><span class="logo normal">nres</span></div>
  		</div>
      <div id="homepage-actions">
        <div class="items">
          <div id="item-travel">
            <p>If you cannot wait to checkout, then</p>
            <a href="/geobrowse" class="homepage-button">Go on a Music Travel</a>
          </div>
          <div id="item-login">
            <p>Or, for an amazing music discovery experience</p>
            <a href="#" id="btn-homepage-login" class="homepage-button">Login</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <footer>
        <div id="powered-by-container">
          <p class="open-label">Powered by cool services that you might have heard before. That is,</p>
          <p class="open-label"><a href="http://last.fm">Last.fm</a> + <a href="http://youtube.com">YouTube</a> + <a href="http://maps.google.com">Google Maps</a> + <a href="http://developer.yahoo.com/geo/placemaker/">Yahoo Placemaker</a> = Geonres</p>
        </div>
      </footer>
    </div>
</div> <!--! end of #container -->



  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UA-24206813-2'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
