<div class="profile-container" data-id="{{ profile_user.id }}">
	{% if is_self %}
	<a id="btn-edit-profile" class="profile-button homepage-button">Edit Profile</a>
	{% else %}
		{% if request %}
		<a id="btn-add-friend1"  class="homepage-button">Request Sent</a>
		{% elif friend %}
		{% else %}
		<a id="btn-add-friend" name="{{ user1 }}"  class="profile-button homepage-button">Add as Friend</a>
		{% endif %}
	{% endif %}
	<div class="profile">
	{% if profile %}
		{% if profile.photo %}
		<img class="profile-image" src="{{ profile.photo }}">
		{% else %}
		<img class="profile-image" src="{{ STATIC }}dp/unknown.jpg">
		{% endif %}
		<div class="profile-details">
			{% if profile.name %}
			<div class="profile-name">
				<a id="link-profile-name">{{ profile.name }}</a>
			</div>
			{% endif %}
			{% if profile_user.email %}
			<div><span class="legend">Email </span> {{ profile_user.email }}</div>
			{% endif %}
			{% if profile.about %}
			<div>
				<span class="legend">About </span>
				<p>{{ profile.about }}</p>
			</div>
			{% endif %}
			{% if profile.interest %}
			<div>
				<span class="legend">Interests </span>
				<p>{{ profile.interest }}</p>
			</div>
			{% endif %}
		</div>
	{% else %}
		<div>Profile Information is not set.</div>
	{% endif %}
	</div>
	<div class="clearfix"></div>
	<div class="friends-container">
		<h2>Friends</h2>
		<div class="friends-list list">
			{% for friend in friends %}
			<a id="{{ friend.friend_name }}" class="lists1">{{ friend.friend_name }}</a>
			{% else %}
			<div>User has no friends.</div>
			{% endfor %}
		</div>
	</div>
	<div class="playlists-container">
		<h2>Playlists</h2>
		<div class="playlists-list list">
			{% for playlist in playlists %}
				<div class='list-container'>
					<a id="{{ playlist.name }}" class="lists" name="{{ profile.user }}">
						{{ playlist.name }}
					</a>
					<div class="{{ playlist.name }} hideall"></div>
				</div>
			{% else %}
			<div>User has no playlists.</div>
			{% endfor %}
		</div>
	</div>
</div