{% extends "base.html" %}

{% block includes %}
<link rel="stylesheet" href="{{ STATIC }}geonres/css/user_home.css">
<script defer src="{{ STATIC }}geonres/js/script.js"></script>
<script src="{{ STATIC }}geonres/js/user_home.js"></script>
<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Spirax' rel='stylesheet' type='text/css'>
<script src="{{ STATIC }}geonres/js/salajax.js"></script>
{% endblock %}

{% block content %}
<div class="tab-options">
	<ul>
		<li><a href="#" id="browse" class="tab-link pressed">BROWSE</a></li>
		<li><a href="#" id="playlist" class="tab-link">PLAYLIST</a></li>
		<li><a href="#" id="friend" class="tab-link">FRIENDS</a></li>
		<li><a href="#" id="profile" class="tab-link">PROFILE</a></li>
		<li><a href="#" id="discussion" class="tab-link">Discussions</a></li>

	</ul>
</div>
	<div id="overlay" class="dialogue"></div>

	<div id="playlist-box" class="dialogue">
		<h2>Create Playlist</h2>
    
	    <div id="playlist-status"></div>
	    <p><input placeholder="Playlist Name" class="input" type="text" size="30" name="playlist-name" id="playlist-name"/></p>
	    <p><img class="spinner" id="playlist-spinner" src="{{ STATIC }}geonres/img/spinner.gif"/></p>
	   
	    <p><a id="btn-playlist" href="#" class="homepage-button">Create Playlist</a></p>
    </div>



    <div id="discussion1-box" class="dialogue">
		<h2>Topic</h2>
        <div id="discussion1-status"></div>
	    <p>Genre Name: <input class="input" type="text" size="30" name="discussion1-name" id="discussion1-name"/></p>
	    <p><img class="spinner" id="discussion1-spinner" src="{{ STATIC }}geonres/img/spinner.gif"/></p>
	    <p><a id="btn-discussion1" href="#" class="homepage-button">Create Genre</a></p>
    </div>




    <div id="discussion-box" class="dialogue">
		<h2>Topic</h2>
        <div id="discussion-status"></div>
	    <p>Discussion Name: <input class="input" type="text" size="30" name="discussion-name" id="discussion-name"/></p>
	    <p><img class="spinner" id="discussion-spinner" src="{{ STATIC }}geonres/img/spinner.gif"/></p>
	    <p><a id="btn-discussion" href="#" class="homepage-button">Create Topic</a></p>
    </div>

    <div id="add-song-box" class="dialogue"></div>
	<div id='playlist1' class='playlist-container home-tab'></div>
	<div id="tab-browse" class="tab-container">
		{% include "map_browser.html" %}
		<div class="clearfix"></div>
		<!--<div id="country-select-container">
			<p id="country-hint">Start by selecting a country</p>
			<div id="country-suggestions"></div>
		</div>
		<div class="select-container" id="artist-select-container">
			<p>Artists</p>
			<input type="text" size="30" class="lookup inactive" id="artist-lookup" value="Search" data-default="Search"/>
			<div id="artist-list"></div>
		</div>
		<div class="clearfix"></div>
		<div class="select-container" id="track-select-container">
		</div>
	-->
		{% block override %}
		
		{% endblock %}

	</div>
</div>

{% endblock %}